{% load i18n %}

<div class="results">
  <table id="result_list">
    <thead>
      <tr>
        {% for h in headers %}
          <th scope="col"{{ h.class_attrib|safe }}>
            {% if "action-checkbox-column" in h.class_attrib %}
              <div class="text">
                <span>
                  <input type="checkbox" id="action-toggle" aria-label="{% translate 'Select all objects on this page for an action' %}">
                </span>
              </div>
              <div class="clear"></div>
            {% else %}
              <div class="sortoptions"></div>
              <div class="text">{{ h.text|safe }}</div>
              <div class="clear"></div>
            {% endif %}
          </th>
        {% endfor %}
      </tr>
    </thead>

    <tbody id="treenode-table">
      {% for row in rows %}
        <tr {{ row.attrs|safe }}>
          {% for cell in row.cells %}
            {{ cell }}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>

  </table>
</div>
