{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="module">
        <h2>Import Data</h2>

        {% if message %}
            <div class="successnote">
                <p>{{ message }}</p>
            </div>
        {% endif %}
        
        {% if errors %}
            <div class="errornote">
                <p>Errors occurred while importing the data:</p>
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form id="importForm" method="post" enctype="multipart/form-data" style="margin: 20px 0;">
            {% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-tn_parent">
                    <label for="file">Choose file:</label>
                    <input type="file" name="file" id="file" required>
                </div>
            </fieldset>

            <div class="submit-row" style="margin-top: 35px;">
                <input id="importBtn" type="submit" value="Import" name="_save">
                <input type="button" value="Cancel" class="button cancel" onclick="window.location.href='..';">
            </div>
        </form>
        
    </div>
{% endblock %}
